## Imports

In [17]:
# To import data
import pandas as pd 
import numpy as np

# Functions for data preparation
from packages.utils.data_exploration import find_primary_key,find_volumetry, find_number_of_unique_values_per_column, share_of_null, share_of_rows_with_null, share_of_columns_with_null

In [21]:
# Import the external_events dataset
market_top_sellers = pd.read_csv('../../../data/dimensions/market_top_sellers_proxy.csv')

In [3]:
# Print the first rows
market_top_sellers.head()

    period  region        category      top_brand  est_units
0  2023-01     USA       Champagne  Royal Bubbles        672
1  2023-01     USA        Prosecco   Cali Sparkle       1146
2  2023-01     USA  Sparkling Wine   Cali Sparkle       1076
3  2023-01  Canada       Champagne  Royal Bubbles        687
4  2023-01  Canada        Prosecco  Maison Étoile        929

## Analyze the table

### Find the primary key

In [4]:
# Utilize the find_primary_key from the data_exploration package to obtain the primary key
find_primary_key(market_top_sellers)

[]

The granularity of the table is the individual distributor.

### Volumetry

In [5]:
# Utilize the find_volumetry from the data_exploration package to obtain the number of rows
print(f"There are {find_volumetry(market_top_sellers)} rows in the dataset.")

There are 216 rows in the dataset.

### Number of unique values per column

In [11]:
print(find_number_of_unique_values_per_column(market_top_sellers))

   period  region  category  top_brand  est_units
0      36       2         3          4        183

### Number of unique values per column

In [12]:
#print(share_of_null_within_columns(market_top_sellers))

NameError: name 'share_of_null_within_columns' is not defined

### Percentage of null cells

In [20]:
# Utilize the find_number_of_unique_values_per_column from the data_exploration package to obtain the % of null cells
print(share_of_null(market_top_sellers))

0.0

## Transform data

### Rename period into selling_period_for_competitors and cast it as a date

In [ ]:
market_top_sellersperiod