# Sales_distributors table

## Imports

In [1]:
# To import data
import pandas as pd 
import numpy as np

# Functions for data preparation
from packages.utils.data_exploration import find_primary_key,find_volumetry, find_number_of_unique_values_per_column, share_of_null, share_of_rows_with_null, share_of_columns_with_null, share_of_null_within_columns

In [3]:
# Import the promotions dataset
sales_distributors = pd.read_csv('../../../data/facts/sales_distributors.csv')

In [5]:
# Print the first rows
sales_distributors.head()

,date,country,state_province,distributor_id,channel,retailer_id,sku,product_name,bottle_size_ml,units,unit_price,currency,discount_applied,promo_id,order_id,invoice_id
0,31-12-2023,USA,WA,D001,On-Trade,R0001,CH-03-375,Maison Étoile - Blanc de Blancs 375ml,375,6,31.30,USD,0,NaN,O500000,NaN
1,2023-06-03,USA,CA,D004,Off-Trade,R0018,CH-03-1500,Maison Étoile - Blanc de Blancs 1500ml,1500,1,148.79,USD,1,NaN,O500001,INV500043
2,2024-02-03,USA,MN,D003,On-Trade,R0006,CH-02-375,MAISON ÉTOILE brut rosé 375ml,375,8,34.39,USD,0,NaN,O500002,INV500008
3,08/29/2023,USA,FL,D004,On-Trade,R0007,CH-06-750,Maison Étoile Demi-sec 750 mL,750,2,60.33,CAD,0,NaN,O500003,INV500023
4,2024-09-24,Canada,SK,D004,Off-Trade,R0010,CH-06-375,Maison Étoile Demi-sec 375 mL,375,4,41.52,CAD,0,P1034,O500004,INV500047

## Analyze the table

### Find the primary key

In [6]:
# Utilize the find_primary_key from the data_exploration package to obtain the primary key
find_primary_key(sales_distributors)

[]

### Volumetry

In [7]:
# Utilize the find_volumetry from the data_exploration package to obtain the number of rows
print(f"There are {find_volumetry(sales_distributors)} rows in the dataset.")

There are 3120 rows in the dataset.

### Number of unique values per column

In [8]:
print(find_number_of_unique_values_per_column(sales_distributors))

   date  country  state_province  distributor_id  channel  retailer_id  sku  \
0  1798        2              30               4        3           18   21

   product_name  bottle_size_ml  units  unit_price  currency  \
0            84               3     17        2400         2

   discount_applied  promo_id  order_id  invoice_id
0                 2        60      3000        1878

### Number of null values per column

In [9]:
print(share_of_null_within_columns(sales_distributors))

   date  country  state_province  distributor_id  channel  retailer_id  sku  \
0    64        0               0               0        0            0   28

   product_name  bottle_size_ml  units  unit_price  currency  \
0             0               0      0           0         0

   discount_applied  promo_id  order_id  invoice_id
0                 0      2327         0         137